# https://docs.4gaboards.com/docs/dev/install/docker-vars

services:
  db:
    image: postgres:16-alpine
    restart: always
    networks:
      - boards-network
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: 4gaBoards
      POSTGRES_PASSWORD: notpassword
      POSTGRES_INITDB_ARGS: '-A scram-sha-256'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres -d 4gaBoards']
      interval: 1s
      timeout: 5s
      retries: 50

  4gaBoards:
    build: .
    image: lrs-4gaboards:local
    restart: always
    networks:
      - boards-network
    volumes:
      - user-avatars:/app/public/user-avatars
      - project-background-images:/app/public/project-background-images
      - attachments:/app/private/attachments
    ports:
      - 127.0.0.1:3000:1337
    environment:
      BASE_URL: https://kanban.lucidrainstudios.com
      SECRET_KEY: notsecretkey
      DATABASE_URL: "postgresql://planka:Lrs5772025!@lrs_kanban-postgres-1:5432/planka"
      NODE_ENV: production
      TRUST_PROXY: "1"
      DISCORD_TASK_WEBHOOK_URL: ${DISCORD_TASK_WEBHOOK_URL}
      ## Add optional 4ga Boards instance variables here
    depends_on:
      db:
        condition: service_healthy

volumes:
  user-avatars:
  project-background-images:
  attachments:
  db-data:
networks:
  boards-network:
